<article class="card">
  <!-- image path -->
  {{ $imagePath:= .Params.image }}
  <!-- image CDN -->
  {{ if hasPrefix $imagePath "http" }}
  <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}" class="card-img-top">
  {{ else }}
  <!-- /image cdn -->

  <!-- image processing for single device -->
  {{ if fileExists (add `assets/` $imagePath) }}
  {{ $image:= resources.Get $imagePath }}
  {{ $imageExt := path.Ext $image }}
  {{ if eq $imageExt ".gif" }}
  <img loading="lazy" decoding="async" src="{{$image.RelPermalink}}" alt="{{ .Title }}" class="card-img-top">
  {{ else }}
  {{ $imageFallback:= $image.Resize "500x" }}
  {{ $imageWebp:= $image.Resize "500x webp" }}
  <img loading="lazy" decoding="async" src="{{$imageWebp.RelPermalink}}" alt="{{ .Title }}" class="card-img-top" onerror="this.onerror='null';this.src='{{$imageFallback.RelPermalink}}'">
  {{ end }}
  {{ end }}
  <!-- /image processing for single device -->
  {{ end }}
  <div class="card-body">
    {{ with .Params.tags }}
    <span class="text-default">Tags: </span>
    {{ range . }}
    <a href="{{`tags/` | relLangURL}}{{. | urlize | lower}}" class="card-meta">{{. | title}}</a>
    {{ end }}
    {{ end }}
    <h3 class="card-title h5 "><a class="link-title" href="{{.Permalink}}">{{.Title | markdownify}}</a></h3>
    <p class="card-text">{{ .Summary }}</p>
  </div>
</article>